<!DOCTYPE html>
<html>
<head>
  <title> Velo des amis </title>
  <meta charset="utf-8">
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>
</head>
<body>
    <header>
      <nav>
        <ul>
          <li> <a href="http://www.acycles.fr/vtt-1/velos-complets-9/"> Choix du velo </a> </li>
          <li> <a href="http://www.chainreactioncycles.com/ro/en/customer-service/email-or-phone-us"> Contact </a> </li>
          <li> <a href="http://www.xxcycle.fr/info--montant-frais-de-port,fr.php"> Livraison </a> </li>
        </ul>
      </nav>
    </header>
    <section>
      <article class="articleprincipal">
        <h1 class="titre1">Vélo électrique comment ça marche ?</h1>
        <p class="p">Un vélo électrique est équipé d'un moteur et d'une batterie. Pour faciliter le pédalage, le moteur se met en marche automatiquement lorsque l'on pédale (et se coupe lorsque le pédalage s'arrête). Pour recharger la batterie, on la branche chez soi sur une prise de courant classique. Le vélo électrique permet d'atteindre sans effort une vitesse de 25km/h, de grimper facilement les côtes ou d’effectuer des trajets qui seraient trop longs à parcourir avec un vélo classique. Quel budget pour un vélo électrique ? Le vélo à assistance électrique est un moyen de transport parfois quotidien. Il faut raisonner en budget annuel : il est aisé de calculer qu’un vélo électrique d’une valeur de 1500 à 2000 euros peut s’amortir en un à deux ans, selon la part de report de la voiture vers le VAE.</p>
      </article>
    </section>
    <section>
      <div class="container">
        <article class="zone">
          <div class="testqlex">

          <h1 class="titre2"> Le courant passe depuis 2009 chez le Vélo des amis</h1>
            <p class="p">L'utilisation d'un vélo électrique est économique, écologique, en un mot magique, car rouler en vélo électrique c'est faire des économies rapidement, car un VAE c'est zéro entretien, zéro carburant, zéro émission de CO2, qui dit mieux ?</p>

            </div>
              <img src="http://img4.autodeclics.com/photos/9/243125/zoom-la-bmw-m2-donne-naissance-a-un-velo.jpg" alt="Velo BMW">
        </article>
        <article class="zone">
          <div class="testqlex">

          <h1 class="titre2">Vélo électrique comment ça marche ?</h1>
            <p class="p"> Si vous pensez que les vélos à assistance électriques sont lourds, patauds et moches, notre sélection de VAE pour homme, femme et enfant balaye toutes vos idées. Les VAE 2017 vous feront pousser des ailes dans les longues montées, alors que les VTT électriques appelés aussi EVTT vous permettons de passer sans peine les passages techniques en montée et avoir une très bonne maniabilité en descente.</p>

            </div>
              <img src="http://actuduvttgps.fr/wp-content/uploads/2013/07/08.jpg" alt="Velo Mercedes">
        </article>
        <article class="zone">
          <div class="testqlex">

          <h1 class="titre2"> Calculer l'autonomie d'un vélo électrique </h1>
            <p class="p"> Si vous êtes fan de vélo à assistance électrique, exprimez-vous sur notre Blog si vous avez acheté un vélo électrique donnez nous votre avis. La pratique du vélo en version aisance, silence et puissance, c'est ce qui caractérise le vélo à assistance électrique.</p>
            </div>
              <img src="http://www.sixtblog.fr/wp-content/uploads/2014/03/bmw-velos-collection-2014-blanc-500x333.jpg" alt="Velo Peugeot">
        </article>
      </div>
    </section>
      <footer>
          <h1 class="titre3">Copyright©1999-2016 Cycle des amis Tous droits réservés</h1>
      </footer>
  </body>
</html>
